* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .jersey-20-regular {
    font-family: "Jersey 20", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  button {
    color: aliceblue;
    cursor: pointer;
  }
  
  body {
    color: aliceblue;
    background-image: url(pixel-art-illustration-classroom-background-pixelated-classroom-school-classroom-background-pixelated-for-the-pixel-art-game-and-icon-for-website-and-video-game-old-school-retro-vector.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Jersey 20", sans-serif;
  
  }
  
  .container {
    font-family: "Jersey 20", sans-serif;
    margin-left: 660px;
    margin-top: 280px;
    width: 90%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .questions-container {
    font-family: "Jersey 20", sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
  
  .question {
    font-family: "Jersey 20", sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
  }
  
  .answers-container {
    font-family: "Jersey 20", sans-serif;
    width: 50%;
    display: grid;
    font-size: 40px;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
  
  .answer:disabled {
    cursor: not-allowed;
  }
  
  .next-question {
    margin-top: 32px;
  }
  
  .button {
    font-family: "Jersey 20", sans-serif;
    background-color: transparent;
    font-size: 40px;
    font-weight: bold;
    border: 0;
    border-radius: 6px;
    height: 48px;
    padding: 0 32px;
  
    transition: filter 0.1s;
  }
  .start-quiz{
    background-color: rgb(255, 255, 255);
    font-family: "Jersey 20", sans-serif;
    padding: 2 32px;
    margin-top: 90px;
    font-size: 40px;
  }
  
  
  .button:not(:disabled):hover {
    filter: brightness(0.8);
  }
  
  /* Finish game */
  .final-message {
    font-size: 20px;
    text-align: center;
  }
  
  .final-message span {
    display: block;
    margin-top: 8px;
  }
  
  /* General styles */
  .hide {
    display: none;
  }
  
  .correct {
    background-color: #049b48;
  }
  
  .incorrect {
    background-color: #a10101;
  }
  /* feito so por eu 
  Victor Natã Felix Alves */